<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Investment Portfolio Manager</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-14 my-auto mx-auto">
            <div class="row">
                <div class="text-center">
                    <h1>Closed Positions</h1>
                    <h5>A specific stock and its associated dividend(s), if any, automatically enter a closed state once all of them have been sold.</h5>
                </div>
            </div>

            <div class="row mx-auto">
                <h2></h2><br>
                <div class="container">
                    <div class="row">
                        <div class="col-mg-18 mx-auto">
                            <table id="stock-list-table" class="table caption-middle align middle"
                                   th:if="${closedStockList != null and not #lists.isEmpty(closedStockList)}">

                                <thead>
                                <tr class="text-end fw-bold border-top border-bottom">
                                    <th>#</th>
                                    <th class="text-start">Ticker</th>
                                    <th class="text-start">Stock Name</th>
                                    <th>Avg Bought Stock Price</th>
                                    <th>Avg Sold Stock Price</th>
                                    <th>Sum Stock Quantity</th>
                                    <th>Profit in Foreign Currency</th>
                                    <th>Sum Bought Transaction Amount</th>
                                    <th>ROI %</th>
                                    <th>Sum Dividend</th>
                                    <th>ROI % with Dividend</th>
                                </tr>
                                </thead>

                                <tbody class="text-end">

                                <tr class="border-bottom" th:object="${stock}" th:each="stock,stat: ${closedStockList}">
                                    <td th:text="${stat.count}">1</td>
                                    <td th:text="*{symbol}" class="text-start">N/A</td>
                                    <td th:text="*{stockName}" class="text-start">N/A</td>
                                    <td class="text-end"
                                        th:text="*{#numbers.formatDecimal(averageBoughtCostPrice, 1, 'WHITESPACE', 2, 'POINT')}">N/A
                                    </td>
                                    <td th:text="*{#numbers.formatDecimal(averageSoldCostPrice, 1, 'WHITESPACE', 2, 'POINT')}">N/A</td>
                                    <td th:text="*{#numbers.formatDecimal(sumStockQuantity, 1, 'WHITESPACE', 2, 'POINT')}">N/A</td>
                                    <td th:text="*{#numbers.formatDecimal(profitInForeignCurrency, 1, 'WHITESPACE', 2, 'POINT')}">N/A</td>
                                    <td th:text="*{#numbers.formatDecimal(sumBoughtTransactionAmount, 1, 'WHITESPACE', 2, 'POINT')}">N/A</td>
                                    <td class="fw-bold"
                                        th:text="*{#numbers.formatDecimal(roi, 1, 2, 'POINT')}">N/A</td>
                                    <td th:text="*{#numbers.formatDecimal(sumDividendPrice, 1, 'WHITESPACE', 2, 'POINT')}">N/A</td>
                                    <td class="fw-bold"
                                        th:text="*{#numbers.formatDecimal(roiWithDividend, 1, 2, 'POINT')}">N/A
                                    </td>
                                </tr>

                                <tr class="border-top border-bottom fw-bold text-end" th:if="${closedStockList != null and not #lists.isEmpty(closedStockList)}">
                                    <td colspan="5"></td>
                                    <td>Summary:</td>
                                    <td th:text="${#numbers.formatDecimal(#aggregates.sum(closedStockList.![profitInForeignCurrency]), 1, 2, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatDecimal(#aggregates.sum(closedStockList.![sumBoughtTransactionAmount]), 1, 2, 'POINT')}"></td>
                                    <td th:with="totalRoi=${#aggregates.sum(closedStockList.![profitInForeignCurrency])} / ${#aggregates.sum(closedStockList.![sumBoughtTransactionAmount])} * 100"
                                        th:text="${#numbers.formatDecimal(totalRoi, 1, 2, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatDecimal(#aggregates.sum(closedStockList.![sumDividendPrice]), 1, 2, 'POINT')}"></td>
                                    <td th:with="totalRoiWithDividend=(${#aggregates.sum(closedStockList.![profitInForeignCurrency])} + ${#aggregates.sum(closedStockList.![sumDividendPrice])}) / ${#aggregates.sum(closedStockList.![sumBoughtTransactionAmount])} * 100"
                                        th:text="${#numbers.formatDecimal(totalRoiWithDividend, 1, 2, 'POINT')}"></td>
                                </tr>

                                </tbody>
                            </table>

                            <div class="text-end mt-3">
                                <a href="/" class="back_button">Back to Main</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>